{% load static %}
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="{% url 'catalog' %}" class="nav-link active" aria-current="page">Catalog</a></li>
      <li class="nav-item"><a href="{% url 'orders' %}" class="nav-link" aria-current="page">Orders</a></li>
      {% if request.user.is_authenticated %}
      <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link" aria-current="page">
        <img width="36" src="{% static 'Core/img/profile.png' %}" alt="">
      </a></li>
      <li class="nav-item"><a href="{% url 'signout' %}" class="nav-link" aria-current="page">
        <img width="36" src="{% static 'Core/img/logout.png' %}" alt="">
      </a></li>
      {% else %}
      <li class="nav-item"><a href="{% url 'signin' %}" class="nav-link" aria-current="page">Signin</a></li>
      <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link" aria-current="page">Signup</a></li>
      {% endif %}
      <li class="nav-item">
        <img src="{% static 'Shop/img/moon.png' %}" width="36" heaight="36" id="btn-change-theme" alt="">
      </li>
    </ul>
  </header>